.profile {
  max-width: 880px;
  margin: 40px auto;
  display: flex;
}

.profile__image {
  border-radius: 50%;
  width: 120px;
}
.profile__info {
  margin: auto 30px;
}
.profile__info-container {
  display: flex;
  padding-bottom: 16px;
  align-items: center;
}
.profile__name {
  color: #ffffff;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin: 0;
}
.profile__experience {
  max-width: 415px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  margin: 0;
}
.profile__button-edit {
  width: 24px;
  height: 24px;
  background: transparent;
  padding: 0;
  margin-left: 18px;
  border: 1px solid #ffffff;
}
.profile__button-add {
  width: 150px;
  height: 50px;
  background: transparent;
  border: 2px solid #ffffff;
  margin: auto;
  margin-right: 0;
  padding: 0;
}
@media screen and (max-width: 544px) {
  .profile {
    max-width: 282px;
    flex-direction: column;
    align-items: center;
  }

  .profile__name {
    max-width: 196px;
    font-size: 22px;
    line-height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 30px;
  }

  .profile__button-edit {
    width: 18px;
    height: 18px;
    margin-top: 30px;
  }

  .profile__experience {
    text-align: center;
    font-size: 14px;
  }

  .profile__button-add {
    margin: 36px auto 0;
    width: 100%;
  }
}
